.changs-title{
    padding: 10px 10px;
    font-size: 14px;
    border-bottom: 1px solid rgb(218, 216, 216);
}

.main-chance{
    height: auto;
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
}

.mg-line{
    margin: 10px 0;
}
.d1{
    height: 35px;
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.d1 input{
    height: 98%;
    width: 98%;
    padding: 5px 10px;
    outline: none;
    border: 1px solid rgb(218, 216, 216);
    border-radius: 5px;
}

.d1 button{
    height: 35px;
    width: 120px;
    background-color: #f16005;
    border-radius: 2px;
    border: none;
    color: #fff;
}
.d1 button:hover{
    background-color: #df5805;
}