.main-userform{
    padding-top: 100px;
    background-color: rgba(239, 237, 237, 0.667);
}

.main-userfrom{
    height: auto;
    width: 450px;
    padding: 10px 5px;
    background-color: rgb(255, 255, 255);
    margin: 10px auto;
    border-radius: 15px;
}

.userfrom-logo{
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.userfrom-logo img{
    height: 100%;
    width: auto;
}

.button-tab{
    height: 43px;
    width: 100%;
    padding: 2px 0;
    display: flex;
    justify-content: space-around;
}

.button-tab button{
    height: 38px;
    width: 50%;
    border: none;
    background-color: #fff;
    position: relative;
    outline: none;
    transition: color 0.3s ease;
}

.button-tab button::after {
    content: ''; /* Tạo một phần tử trống */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px; 
    background-color: rgb(186, 185, 185); 
    transition: width 0.3s ease; 
}

.main-input{
    height: 415px;
    width: 100%;
    padding: 5px;
    position: relative;
}

.formSignIn{
    position: absolute;
    top: 60px;
    left: 0;
    height: auto;
    width: 100%;
    padding: 5px 35px;
    display: grid;
}

.formSignIn input{
    height: 40px;
    border: 1px solid rgb(201, 199, 199);
    border-radius: 6px;
    outline: none;
    padding: 10px;
    margin: 5px 0;
}
.formSignIn button{
    height: 40px;
    width: 120px;
    margin: 50px auto 0;
    border: 1px solid rgb(201, 199, 199);
    border-radius: 6px;
}


.formSignUp{
    position: absolute;
    top: 25px;
    left: 0;
    height: auto;
    width: 100%;
    padding: 5px 35px;
    display: grid;
}

.formSignUp input{
    height: 40px;
    border: 1px solid rgb(201, 199, 199);
    border-radius: 6px;
    outline: none;
    padding: 10px;
    margin: 5px 0;
}
.formSignUp button{
    height: 40px;
    width: 120px;
    margin: 50px auto 0;
    border: 1px solid rgb(201, 199, 199);
    border-radius: 6px;
}

.button-tab button.active::after {
    width: 100%; 
}