.header{
    height: auto;
    width: 100%;
    position: fixed;
    padding: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 99999;
}

.logo a img{
    height: auto;
    width: 100%;
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
}
.d_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.menu-mobile{
    transform: translateX(-100%);
    transition: 0.3s ease-in-out;
    opacity: 0;
}
.menu-mobile.open{
    position: absolute;
    z-index: 9999;
    transform: translateX(0%);
    opacity: 1;
    transition: 0.2s ease-in-out;
}
.search-mobile-hd{
    position: absolute;
    left: 0;
    width: 50%;
    transform: translateX(-800px);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.search-mobile-hd.show{
    width: 90%;
    transform: translateX(0px);
    visibility: inherit;
    opacity: 1;
}
.mobile{
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-to-top{
    position: absolute;
    right: 1px;
    top: 610px;
    display: inline-block;
    z-index: 1000;
    transform: rotate(-90deg);
}

.back-to-top span{
    color: #fff;
}
.back-to-top button{
    margin-left: 15px;
    height: 31px;
    width: 30px;
    border: 1px solid rgb(215, 213, 213);
    border-radius: 50%;
}


@media screen and (max-width: 973px) {
    .nav-bar {
      display: none;
    }
    .mobile{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .left-item{
        width: 45%;
    }
    .menu-left-item{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}




