
.search-pc{
    border-radius: 5px;
    border: 1px solid rgba(193, 190, 190, 0.892);
    height: 40px;
    width: 185px;
    outline: none;
    padding: 5px 40px 5px 5px;
}
.search{
    position: relative;
}
.btn-search{
    position: absolute;
    height: 30px;
    width: 35px;
    outline: none;
    top: 5px;
    right: 6px;
    line-height: 10px;
    border: none;
    border-radius: 5px;
}

@media (max-width: 1400px){
    .search-pc{
        display: none;
    }
    .btn-search{
        right: 0;
        top: -10px;
    }
}